{% from 'components/form_helper.html' import displayField %}
{% extends "base.html" %}

<title>{% block title %}Login{% endblock %}</title>

{% block content %}
    <h2>Login!</h2>
    <p>Enter the login details to start</p>

    <form action="{{ url_for('login')}}", method="POST">
      {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
      {{ displayField(form.password, 'Password') }}
      <div>
        {{ form.submit_button }}
      </div>
      {{ form.csrf_token }}
  </form>


{% endblock %}
