{% macro footer() -%}
<!-- start footer Area -->
<footer class="fixed-bottom">
	<div class="fluid-container" style="margin-left: 30px";>
		<div class="row">
			<div class="justify-content-center">
				<div class="single-footer-widget">
					<h4>About This Page</h4>
					<p class="footer-text">
					This website was created using HTML, CSS, Bootstrap and Python.
					</p>
					<p class="footer-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="fa fa-heart-o" aria-hidden="true"></i></p>
				</div>
			</div>
		</div>
	</div>
</footer>
			<!-- End footer Area -->

{%- endmacro %}